<div class="container">
  <h1 class="text-center pt-4">All Articles</h1>
</div>

<div class="container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
      </div>
      <div class="col col-md-auto">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <div class="col">
      </div>
    </div>
</div>

<%= render 'article' %>

<div class="container">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
      </div>
      <div class="col col-md-auto">
        <%== pagy_bootstrap_nav(@pagy) %>
      </div>
      <div class="col">
      </div>
    </div>
</div>




<!--<table>
  <head>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </head>
  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.description %></td>
        <td><%= link_to 'Show', article_path(article) %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>-->