<%= render 'shared/errors', obj: @user %>


<%= form_with(model: @user, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :username, class: "form-label" %>
    <%= f.text_field :username, class: "form-control", placeholder: "User name" %>
  </div>

  <div class="mb-3">
    <%= f.label :email, class: "form-label" %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
  </div>
  <div class="mb-3">
    <%= f.label :password, class: "form-label" %>
    <%= f.password_field :password, class: "form-control", placeholder: "Choose a password" %>
  </div>
  <div class="mb-3">
    <%= f.submit(@user.new_record? ? "Sign up" : "Update", class: "btn btn-primary") %></br>
  </div>
  <div class="mb-3">
    <%= link_to 'Cancel', articles_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
