<div class="container pb-4">
  <h1 class="text-center p-4"><%= @user.username %>'s profile</h1>

<%= gravatar_for @user, size: 200 %>

<div class="text-center mt-4">
  <% if logged_in? && @user == current_user %>
    <%= link_to "Edit profile", edit_user_path(@user), class: "btn btn-outline-primary" %>
  <% end %>

<h3 class="text-center p-4">Articles</h3>
</div>

<%== pagy_bootstrap_nav(@pagy) %>
<%= render 'articles/article' %>
<%== pagy_bootstrap_nav(@pagy) %>