<%= render 'shared/errors', obj: @category %>


<%= form_with(model: @category, local: true) do |f| %>
  <div class="mb-3">
    <%= f.label :name, "Category name:", class: "form-label" %>
    <%= f.text_field :name, class: "form-control", placeholder: "New category name here" %>
  </div>

  <div class="mb-3">
    <%= f.submit(class: "btn btn-primary") %></br>
  </div>
  <div class="mb-3">
    <%= link_to 'Cancel', articles_path, class: "btn btn-outline-secondary" %>
  </div>
<% end %>
